.board {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  gap: 20px;
}

.scores {
  border-radius: 6px;
  background-color: #68ff686b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
}

.lives {
  border-radius: 6px;
  background-color: #ffff006b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
}
